BACKEND_PORT=5000

FRONTEND_PORT=3001

MONGODB_DATABASE=musicapp
MONGODB_USERNAME=mongo_username
MONGODB_PASSWORD=mongo_password
MONGODB_PORT=27017

# NOTE: This is the name of the service in docker-compose.yml
MONGODB_HOST=db